CompileFlags:
  Compiler: C:/msys64/mingw64/bin/g++.exe
  Add:
    - -isystem
    - C:/msys64/mingw64/include/c++/15.2.0
    - -isystem
    - C:/msys64/mingw64/include/c++/15.2.0/x86_64-w64-mingw32
    - -isystem
    - C:/msys64/mingw64/include
    - --target=x86_64-w64-mingw32